$primary: #7269ef;
$blue: #7269ef;
$indigo: #564ab1;
$purple: #8e4aec;
$dark: #eff2f7;
$secondar: #7a7f9a;
$muted: #9aa1b9;
$body-color: #a6b0cf;
$body-bg: #303841;
$accordion-bg: transparent;
$body-bg: #303841;
$emphasis-color: #f8f9fa;
$secondary-color: #abb4d2;
$tertiary-color: rgba(166, 176, 207, 0.5);
$tertiary-bg: #272e34;
$primary-text-emphasis: #aaa5f5;
$secondary-text-emphasis: #afb2c2;
$dark-text-emphasis: #f0eff5;
$primary-bg-subtle: rgba(114, 105, 239, 0.15);
$secondary-bg-subtle: #343a40;
$primary-border-subtle: #443f8f;
$secondary-border-subtle: #495057;
$light-border-subtle: #495057;
$dark-border-subtle: #343a40;
$heading-color: inherit;
$link-color: #aaa5f5;
$link-hover-color: #b7b3f7;
$link-color-rgb: 170,165,245;
$link-hover-color-rgb: 183,179,247;
$border-color-translucent: #39414b;
$form-valid-color: #6ae6c6;
$form-valid-border-color: #6ae6c6;
$form-invalid-color: #f591a9;
$form-invalid-border-color: #f591a9;
$white: #262e35;
$white-rgb: 38,46,53;
$light-rgb: 54,64,74;
$dark: #eff2f7;
$dark-rgb: 239,242,247;
$secondary: #7a7f9a;
$secondary-rgb: 122,127,154;
$text-muted: #9aa1b9;
$text-muted-rgb: 154,161,185;
$sidebar-menu-item-color: #a6b0cf;
$sidebar-menu-item-active-color: #ffffff;
$sidebar-menu-item-active-bg: #3e4a56;
$sidebar-sub-bg: #303841;
$accordion-bg: transparent;
$dropdown-bg: #313a43;
$btn-color: #fff;
$btn-bg: #7269ef;
$btn-border-color: #7269ef;
$btn-hover-color: #fff;
$btn-hover-bg: #6159cb;
$btn-hover-border-color: #5b54bf;
$btn-focus-shadow-rgb: 135,128,241;
$btn-active-color: #fff;
$btn-active-bg: #5b54bf;
$btn-active-border-color: #564fb3;
$btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
$btn-disabled-color: #fff;
$btn-disabled-bg: #7269ef;
$btn-disabled-border-color: #7269ef;