{% block header %}
    <div class="row align-items-center">
        <div class="d-flex align-items-center">
            <div class="flex-grow-1 overflow-hidden">
                <h5 class="font-size-16 mb-0 text-truncate">
                    <a href="#" class="text-reset user-profile-show">{{ title }}</a>
                </h5>
            </div>
        </div>
    </div>
{% endblock %}