{% extends 'base.html.twig' %}

{% block title %}New Processor{% endblock %}

{% block body %}
    <h1>Create new Processor</h1>

    {{ include('processor_crud/_form.html.twig') }}

    <a href="{{ path('app_processor_crud_index') }}">back to list</a>
{% endblock %}
