<div class="col-sm-4 col-8">
    <div class="d-flex align-items-center">

        {% block toolbar_header %}
        <div class="me-3 ms-0">
            <i class="{{ iconclass }} rounded-circle avatar-xs"></i>
        </div>
        <div class="flex-grow-1 overflow-hidden">
            <h5 class="font-size-16 mb-0 text-truncate text-reset user-profile-show font-size-10">{{ title }}</h5>
        </div>
        {% endblock %}
        
    </div>
</div>