{% extends 'base.html.twig' %}

{% block title %}New Limiter{% endblock %}

{% block body %}
    <h1>Create new Limiter</h1>

    {{ include('limiter/_form.html.twig') }}

    <a href="{{ path('app_limiter_index') }}">back to list</a>
{% endblock %}
