<main class="rounded p-4">

{% include 'pages/welcome/sections/_front.html.twig' %}
<div class="divider"><hr></div>

{#
{% include 'pages/welcome/sections/_work.html.twig' %}
<div class="divider"><hr></div>
{% include 'pages/welcome/sections/_features.html.twig' %}
<div class="divider"><hr></div>

{% include 'pages/welcome/sections/_pricing.html.twig' %}
<div class="divider"><hr></div>
{% include 'pages/welcome/sections/_portfolio.html.twig' %}
<div class="divider"><hr></div>
{% include 'pages/welcome/sections/_getstarted.html.twig' %}
<div class="divider"><hr></div>
{% include 'pages/welcome/sections/_updates.html.twig' %}
<div class="divider"><hr></div>

{% include 'pages/welcome/sections/_contact.html.twig' %}
#}
</main>