<!-- CARD -->
<div class="col">
    <div class="card card-h-100">
        <div class="card-body {% if isSubscriber and beta %} bg-primary {% endif %} rounded">
            <div class="d-flex justify-content-center flex-column">
                <div class="row card-header text-center m-0 p-3 rounded">
                    <p class="fw-medium fs-3 mb-0">Beta</p>
                    <p class="mb-0">$3 / Month</p>
                </div>

                <div class="row card-features text-center mt-3">
                    <p class="text-muted">All Paid Features</p>
                    <p class="text-muted">+ Beta Features</p>
                    <p class="text-muted">+ New Limiter Calculations</p>
                    <p class="text-muted">+ Experimental Features</p>
                    <p class="text-muted">+ Support Me</p>
                </div>

                <div class="row card-footer m-0 mt-3 p-0 bg-transparent">
                    {% if isSubscriber and beta %}
                        <a href="#" class="btn">Current Plan</a>
                    {% else %}
                        <a href="#" class="btn btn-primary">Get Plan</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>