<div class="col-12 col-md-6 col-lg-4">
    <div class="d-flex card">
        <div class="card-header">
            <h6 class="fs-6">{{ content.name }}</h6>
        </div>
        <div class="card-body">
            <p class="fs-6">{{ content.description|raw }}</p>
        </div>
    </div>
</div>