<div class="modal-dialog modal-dialog-centered" id="{{ modal_id }}" tabindex="-1" aria-modal="true" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
                <h1 class="modal-title fs-5">{{ modal_title }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ modal_body|default('Loading...') }}
        </div>
        <div class="modal-footer">
            {% block modal_footer %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            {% endblock %}
      </div>
    </div>
</div>