{% extends 'content.html.twig' %}

{% block title %}{{ parent() }} | {{ 'Settings'|trans }}{% endblock %}

{% block page_content %}
    <div class="card opacity-25 pe-none">
        <div class="card-body">
        {{ include('pages/settings/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
