{{ form_start(form) }}
    {{ form_widget(form) }}
    {% set buttonLabelDefault = 'Save'|trans %}
    <button class="btn btn-primary">{{ button_label|default(buttonLabelDefault) }}</button>
{{ form_end(form) }}
