<div clas="messagebox p-3 pt-0">
    <div class="row">
        <div class="col">
            <div class="info-container mb-3">
                {{ infoButton('...') }} 
                <div class="mb-3">
                    <label for="limiter_Message" class="form-label">Messages</label>
                    <textarea class="form-control text-danger" id="limiter_Message" rows="4" disabled readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>