<div clas="messagebox p-3 pt-0">
    <div class="row">
        <div class="col-sm">
            <div class="info-container mb-3">
                {{ infoButton('Here you will see messages regarding the calculation. Where "#" represents an info message and "!" represent a warning or error.'|trans) }} 
                <div class="mb-3">
                    <label for="limiter_Message" class="form-label">{{'Messages'|trans}}</label>
                    <textarea class="form-control text-danger" id="limiter_Message" rows="4" disabled readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>