<div class="col-sm shepherd-manufacturer">
    {{ form_row(form.Manufacturer, {
        'attr': {
            'class': 'form-select',
        },
        'placeholder': 'Select Manufacturer',
    }) }}
</div>
<div class="col-sm shepherd-name">
    {{ form_row(form.Name) }}
</div>