<div class="collapse mt-3" id="collapseChassis">
    <div class="card card-body border-dark">
        <div class="row mb-3">
            <div class="col-sm">
                {{ form_row(form.Chassis) }}
            </div>
        </div>
    </div>
</div>