<section id="front" class="pb-3 pt-3 position-relative overflow-hidden ">
    <div class="p-0 d-flex">
        <div class="w-50 d-flex align-items-center">
            <div class="">
                <h1 class="fs-1 text-bold mb-5">{{'Take your Sound-System to the next level with System Designer.'|trans}}</h1>
                <p class="">{{'System Designer is a powerful tool crafted for audio enthusiasts, professionals, and anyone passionate about creating exceptional sound systems. Our tool enables you to store and manage brands, amplifiers, processors, and speakers in a centralized database, streamlining the design process.'|trans}}</p>
            </div>
        </div>
        <div class="w-50 mockups">
            <div class="position-relative mx-3 p-5">
                <img class="desktop position-relative w-75" src="{{ asset('images/mockups/screen_desktop-front.png') }}" alt="Desktop Mockup">
                <img class="mobile position-absolute top-50 h-25" src="{{ asset('images/mockups/screen_mobile-portrait.png') }}" alt="Mobile Portrait Mockup">
            </div>
        </div>
    </div>
</section>  