<section class="pg pj vp mr oj wp nr">

<div x-data="{ sectionTitle: `We Offer Great Affordable Premium Prices.`, sectionTitleText: `It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.`}">
<div class="animate_top bb ze rj ki xn vq" data-sr-id="20" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2.8s cubic-bezier(0.5, 0, 0, 1) 0s;">
<h2 x-text="sectionTitle" class="fk vj pr kk wm on/5 gq/2 bb _b">We Offer Great Affordable Premium Prices.</h2>
<p class="bb on/5 wo/5 hq" x-text="sectionTitleText">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
</div>
</div>

<div class="bb ze ki xn 2xl:ud-px-0 jb" x-data="{filterTab: 1}">

<div class="projects-tab _e bb tc uf wf xf cg rg hh rm vk xm si ti fc">
<button data-filter="*" @click="filterTab = 1" :class="{ 'gh lk' : filterTab === 1 }" class="project-tab-btn ek rg ml il vi mi gh lk">
All
</button>
<button data-filter=".branding" @click="filterTab = 2" :class="{ 'gh lk' : filterTab === 2 }" class="project-tab-btn ek rg ml il vi mi">
Branding Strategy
</button>
<button data-filter=".digital" @click="filterTab = 3" :class="{ 'gh lk' : filterTab === 3 }" class="project-tab-btn ek rg ml il vi mi">
Digital Experiences
</button>
<button data-filter=".ecommerce" @click="filterTab = 4" :class="{ 'gh lk' : filterTab === 4 }" class="project-tab-btn ek rg ml il vi mi">
Ecommerce
</button>
</div>

<div class="projects-wrapper tc -ud-mx-5" style="position: relative; height: 729.734px;">
<div class="project-sizer"></div>

<div class="project-item wi fb vd jn/2 to/3 branding ecommerce" style="position: absolute; left: 0px; top: 0px;">
<div class="c i pg sg z-1">
<img src="images/project-01.png" alt="Project">
<div class="h s r df nl kl im tc sf wf xf vd yc sg al hh/20 z-10">
<h4 class="ek tj kk hc">Photo Retouching</h4>
<p>Branded Ecommerce</p>
<a class="c tc wf xf ie ld rg _g dh ml il ph jm km jc" href="#">
<svg class="th lm ml il" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z"></path>
</svg>
</a>
</div>
</div>
</div>

<div class="project-item wi fb vd jn/2 to/3 digital" style="position: absolute; left: 476.656px; top: 0px;">
<div class="c i pg sg z-1">
<img src="images/project-02.png" alt="Project">
<div class="h s r df nl kl im tc sf wf xf vd yc sg al hh/20 z-10">
<h4 class="ek tj kk hc">Photo Retouching</h4>
<p>Branded Ecommerce</p>
<a class="c tc wf xf ie ld rg _g dh ml il ph jm km jc" href="#">
<svg class="th lm ml il" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z"></path>
</svg>
</a>
</div>
</div>
</div>

<div class="project-item wi fb vd jn/2 to/3 branding ecommerce" style="position: absolute; left: 953.312px; top: 0px;">
<div class="c i pg sg z-1">
<img src="images/project-04.png" alt="Project">
<div class="h s r df nl kl im tc sf wf xf vd yc sg al hh/20 z-10">
<h4 class="ek tj kk hc">Photo Retouching</h4>
<p>Branded Ecommerce</p>
<a class="c tc wf xf ie ld rg _g dh ml il ph jm km jc" href="#">
<svg class="th lm ml il" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z"></path>
</svg>
</a>
</div>
</div>
</div>

<div class="project-item wi fb vd vo/3 digital ecommerce" style="position: absolute; left: 0px; top: 359.734px;">
<div class="c i pg sg z-1">
<img src="images/project-03.png" alt="Project">
<div class="h s r df nl kl im tc sf wf xf vd yc sg al hh/20 z-10">
<h4 class="ek tj kk hc">Photo Retouching</h4>
<p>Branded Ecommerce</p>
<a class="c tc wf xf ie ld rg _g dh ml il ph jm km jc" href="#">
<svg class="th lm ml il" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z"></path>
</svg>
</a>
</div>
</div>
</div>
</div>
</div>
</section>