.divider.seperator {
    height:15px;
    color:var(--bs-dark);
}

.divider.seperator hr {
    height:1px;
    color:var(--bs-dark);
    border-top:1px solid var(--bs-dark);
}

.divider.seperator.lg {
    height:8px;
    color:var(--bs-primary);
}

.divider.seperator.lg hr {
    height:8px;
    color:var(--bs-primary);
    border-top:8px solid var(--bs-primary);
}