html,
body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}


/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

    #sidebar_wrapper {
        display:block;
        position: fixed;
        bottom: 0;
        min-width: 100%;
        min-height: auto;
        height:70px;
    }
    
    .sidebar_menu {
        height:70px;
        display:block;
    }

    .sidebar_menu ul,
    .sidebar_menu li {
        display:flex;
        height:70px;
        align-items: center;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}