#sidebar_wrapper {
    background:#36404a;
    min-width: 75px;
    max-width: 75px;
    height: 100vh;
    min-height: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-box-shadow: 0 2px 4px rgba(15,34,58,.12);
    box-shadow: 0 2px 4px rgba(15,34,58,.12);
    margin-right:0px !important;
}

#sidebar_wrapper .nav-item,
#sidebar_wrapper .nav-link {
    text-align: center;
    font-size: 24px;    
    color: #a6b0cf;
    width: 56px;
    height: 56px;
    line-height: 56px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 0;
}

#sidebar_wrapper a {
    transition: all .4s ease;
}

#sidebar_wrapper a:hover {
    background-color:#3e4a56;
}

#sidebar_wrapper .logo {
    display:flex;
    justify-content: center;
    align-items: center;
}

.divider.seperator {
    height:15px;
    color:var(--bs-dark);
}

.divider.seperator hr {
    height:1px;
    color:var(--bs-dark);
    border-top:1px solid var(--bs-dark);
}