{% block footer %}
    <div class="row g-0">                  
        <div class="col-auto">
            <div class="ms-md-2 me-md-0">
                2023 Pulsation Audio
            </div>
        </div>
    </div>
{% endblock %}