{% if app.user.notifications|length > 0 %}
    <li class="dropdown-item">Notification 1</li>
    <li><hr class="dropdown-divider"></li>
    <li class="dropdown-item">Notification 2</li>
    <li><hr class="dropdown-divider"></li>
    <li class="dropdown-item">Notification 3</li>
    <li><hr class="dropdown-divider"></li>
    <li class="dropdown-item">Notification 4</li>
    <li><hr class="dropdown-divider"></li>
{% endif %}