{% extends 'base.html.twig' %}

{% block title %}New Processor{% endblock %}

{% block page_content %}
    <h1>Create new Processor</h1>

    {{ include('processor/_form.html.twig') }}

    <a href="{{ path('app_processor_index') }}">back to list</a>
{% endblock %}

{% set toolbar_button %}
{% endset %}