{% extends 'base.html.twig' %}

{% block title %}Edit Chassis{% endblock %}

{% block body %}

    {% set buttonLabel = 'Update'|trans %}
    {{ include('chassis/_form.html.twig', {'button_label': buttonLabel}) }}

    <a href="{{ path('app_chassis_index') }}">back to list</a>

    {{ include('chassis/_delete_form.html.twig') }}
{% endblock %}
