<!-- CARD -->
<div class="col-xl-3 col-md-6">
    <div class="card card-h-100">
        <div class="card-body">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <p class="text-muted fw-medium">Processors</p>
                    <h4 class="mb-0">{{ processors }} / 10</h4>
                </div>

                <div class="flex-shrink-0 align-self-center card-badge">
                    <div class="progress-bar-circular" data-progress="{{ processors }}">
                        <div class="progress-bar-content avatar-sm rounded-circle mini-stat-icon">
                            <span class="icon rounded-circle">
                                <i class="icon-processor"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>