<div class="py-3 border-bottom">
    <div class="d-flex align-items-center">
        <div>
            <h5 class="font-size-14 mb-1">{{ content.name }}</h5>
            <p class="text-muted">{{ content.description|raw }}</p>
        </div>
    </div>
</div>