<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}System Designer{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-bs-theme="dark">
        {# body_replace can be used to skip the entire layout section #}
        {% block body_replace %}
            <div class="layout-wrapper d-lg-flex">
                {% block layout %}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
