{% extends 'layout.html.twig' %}
{% block page_content %}

    <div id="content_header" class="p-3 p-lg-4 border-bottom">
    </div>

    <div id="body" class="p-3 p-lg-4">
        {# this can be used to add additional content elements #}
        {% block body %}

        {% endblock %}
    </div>
{% endblock %}