<li class="btn-group dropup dropend opacity-25 pe-none">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-bell">
            {% if app.user.notifications|length > 0 %}
            <span class="position-absolute top-1 start-99 translate-middle badge rounded-pill bg-primary text-body font-size-12">
                {{ app.user.notifications|length }}
                <span class="visually-hidden">{{'Unread Notifications'|trans}}</span>
            </span>
            {% endif %}
        </i>
    </a>
    <ul class="dropdown-menu">
        {{ include('partials/sidebar/notification/_notifications.html.twig')}}
    </ul>  
</li>