{% block inspector %}
    {% use 'partials/toolbar/toolbar.html.twig' %}
        <div id="toolbar" class="p-3 p-lg-4 border-bottom">
            {% block toolbar %}
                {{ parent() }}
            {% endblock %}
        </div>
{% endblock %}