{% extends 'base.html.twig' %}

{% block title %}Edit Amplifier{% endblock %}

{% block body %}
    <h1>Edit Amplifier</h1>

    {{ include('amplifier_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_amplifier_crud_index') }}">back to list</a>

    {{ include('amplifier_crud/_delete_form.html.twig') }}
{% endblock %}
