{% extends 'base.html.twig' %}

{% block title %}New Amplifier{% endblock %}

{% block body %}
    <h1>Create new Amplifier</h1>

    {{ include('amplifier_crud/_form.html.twig') }}

    <a href="{{ path('app_amplifier_crud_index') }}">back to list</a>
{% endblock %}
