{% extends 'base.html.twig' %}

{% block title %}Edit Speaker{% endblock %}

{% block body %}
    <h1>Edit Speaker</h1>

    {{ include('speaker_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_speaker_crud_index') }}">back to list</a>

    {{ include('speaker_crud/_delete_form.html.twig') }}
{% endblock %}
