{% extends 'base.html.twig' %}

{% block title %}New Speaker{% endblock %}

{% block body %}
    <h1>Create new Speaker</h1>

    {{ include('speaker_crud/_form.html.twig') }}

    <a href="{{ path('app_speaker_crud_index') }}">back to list</a>
{% endblock %}
