:root {
    --navbar-height:60px;
}
header.navbar {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    padding:var(--padding-general);
    padding-left:40px;
    padding-right:40px;
    background:rgba(255,255,255,.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color:rgba(255,255,255,.8);
    height:var(--navbar-height);
}

header .navbar-center {
    color:#fff;
}

.nav-account i {
    margin-right:10px;
}

.nav-account {
    padding:6px;
    background:rgba(255,255,255,.1) !important;
    transition:all .3s ease;
    border-radius:4px;
}

.nav-account:hover {
    background:rgba(255,255,255,.2) !important;
}