.btn.btn-link,
.btn.btn-link:visited,
a,
a:visited,
.nav,
.nav-item,
.nav .nav-item a
 {
    transition:all .3s ease;
    color:rgba(255,255,255,.8);
}

a:hover,
.btn.btn-link:hover,
.nav-item:hover,
.nav .nav-item a:focus, 
.nav .nav-item a:hover {
    color:rgba(255,255,255,1);
}

.table th {
    color:#fff;
}

tbody tr {
    color:#fff;
    transition:all .3s ease;
    background:rgba(255,255,255,.1);
}

tbody tr:hover {
    background:rgba(255,255,255,.2);
}

.table-custom {
    padding:10px;
    color:#fff;
}

table {
    width:100%;
}

.scroll {
    overflow:scroll !important;
    height:100px;
}

.tooltip::after {
    max-width:none !important;
    background:rgba(0,0,0,.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.input-group .input-group-addon {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    color:#3b4351;
    height:1.8rem;
}

a:focus {
    box-shadow:none;
}

.action-button {
    margin-right:10px;
}

.modal.active .modal-overlay, .modal:target .modal-overlay {
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
}

.btn.btn-link, .btn.btn-link:visited, a, a:visited, .nav, .nav-item, .nav .nav-item a {
    background:rgba(255,255,255,.1);
}

.menu .menu-item>a {
    color:#3b4351;
}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color:#fff;
}

a.action-button {
    background:none;
}

a.action-button:hover {
    color:#918fe6;
}

.tooltip::after {
    font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    font-weight:400;
    background:rgba(0,0,0,.4) !important;
    backdrop-filter: 10px;
    -webkit-backdrop-filter: 10px;
    padding:6px !important;
    border-radius:3px !important    ;
}