sidebar {
    width:15vw;
    position:fixed;
    top:var(--navbar-height);
    left:0px;
    padding:var(--padding-general);
    background:rgba(255,255,255,.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-right: 1px solid rgba(255, 255, 255, .1);
    height:100vh;
    z-index:999;
}

.nav-item {
    transition:all .3s ease;
    background:rgba(255,255,255,.1);
    padding:6px;
    border-radius:4px;
    position:relative;
}

.nav .nav-item a {
    display:block;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}

.nav-item:hover {
    background:rgba(255,255,255,.2);
}