.toolbar,
.toolbar-search,
.toolbar ul,
.toolbar-search ul,
.toolbar li,
.toolbar-search li {
    list-style:none;
    margin:0px;
    padding:0px;
}

.toolbar li a {
    display:block;
    width:100% !important;
    text-align:center;
    padding:10px;
    background:rgba(255,255,255,.1);
    border-radius:3px;
    transition:all .3s ease;
}

.toolbar li a:hover {
    background:rgba(255,255,255,.2);
}

.toolbar li,
.toolbar-search li {
    width:100%;
    display:block;
}

.toolbar,
.toolbar-search {
    padding:10px;
    text-align:left;
}

.toolbar  ul,
.toolbar-search ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:20px;
}