{% block toolbar %}
        <ul class="list-inline text-end mb-0">                                        
            <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                <button type="button" class="btn nav-btn" data-bs-toggle="modal" data-bs-target="#audiocallModal">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </li>

            <li class="list-inline-item">
                <div class="dropdown">
                    <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" style="">
                        <a class="dropdown-item d-block d-lg-none user-profile-show" href="#">View profile <i class="ri-user-2-line float-end text-muted"></i></a>
                        <a class="dropdown-item d-block d-lg-none" href="#" data-bs-toggle="modal" data-bs-target="#audiocallModal">Audio <i class="ri-phone-line float-end text-muted"></i></a>
                        <a class="dropdown-item d-block d-lg-none" href="#" data-bs-toggle="modal" data-bs-target="#videocallModal">Video <i class="ri-vidicon-line float-end text-muted"></i></a>
                        <a class="dropdown-item" href="#">Archive <i class="ri-archive-line float-end text-muted"></i></a>
                        <a class="dropdown-item" href="#">Muted <i class="ri-volume-mute-line float-end text-muted"></i></a>
                        <a class="dropdown-item" href="#">Delete <i class="ri-delete-bin-line float-end text-muted"></i></a>
                    </div>
                </div>
            </li>                                        
        </ul>                                    

{% endblock %}