{% extends 'content.html.twig' %}

{% block page_content %}
    <div class="row" data-turbo="false">
        {% if isFeatureEnabled('manufacturers') %}
            {% include 'pages/main/manufacturer/dashboard_badge.html.twig' %}
        {% endif %}

        {% if isFeatureEnabled('processor') %}
            {% include 'pages/main/processor/dashboard_badge.html.twig' %}
        {% endif %}

        {% if isFeatureEnabled('amplifier') %}
            {% include 'pages/main/amplifier/dashboard_badge.html.twig' %}
        {% endif %}

        {% if isFeatureEnabled('speaker') %}
            {% include 'pages/main/speaker/dashboard_badge.html.twig' %}
        {% endif %}

        {% if isFeatureEnabled('chassis') and app.user.isSubscriber %}
            {% include 'pages/main/chassis/dashboard_badge.html.twig' %}
        {% endif %}

        {% if isFeatureEnabled('limiter') %}
            {% include 'pages/main/limiter/dashboard_badge.html.twig' %}
        {% endif %}
    </div>
{% endblock %}