<!-- CARD -->
<div class="col-xl-3 col-md-6">
    <div class="card card-h-100">
        <div class="card-body">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <p class="text-muted fw-medium">Speakers</p>
                    <h4 class="mb-0">4</h4>
                </div>

                <div class="flex-shrink-0 align-self-center card-badge">
                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                        <span class="rounded-circle bg-primary">
                            <i class="icon-speaker"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>