:root {
    --bs-white: #262e35;
    --bs-white-rgb: 38,46,53;
    --bs-light-rgb: 54,64,74;
    --bs-dark-rgb: 239,242,247;
    --bs-secondary-rgb: 122,127,154;
    --bs-text-muted-rgb: 154,161,185;
    --bs-sidebar-bg: #36404a;
    --bs-sidebar-menu-item-color: #a6b0cf;
    --bs-sidebar-menu-item-active-color: #ffffff;
    --bs-sidebar-menu-item-active-bg: #3e4a56;
    --bs-sidebar-sub-bg: #303841;
    --bs-dropdown-bg: #313a43;
    --bs-accordion-button-bg: #36404a !important;
    --bs-body-bg-rgb: 48,56,65;
    --bs-emphasis-color-rgb: 248,249,250;
    --bs-secondary-color-rgb: 171,180,210;
    --bs-secondary-bg-rgb: 54,64,74;
    --bs-tertiary-color-rgb: 166,176,207;
    --bs-tertiary-bg-rgb: 39,46,52;
    --bs-border-color: #36404a;
    --bs-light: #36404a;
    --bs-secondary-bg: #36404a;
}